
@{
    ViewBag.Title = "Select";
    //Layout = null;
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script>
        $(function () {
            //changeProjectKind();
            // $('select[id=ProjectKind]').change(changeProjectKind);

            $('#submit1').click(function() {
                $.ajax({
                    url: '@Url.Action("SelectIn")',
                    type: "Post",
                    data: $('#form1').serialize(),
                    success: function (data) {
                      
                        console.log(data);
                        $("#textDe").val(data)
                        //if (data.success === 'success') {

                        //}
                        //if (data.success === 'fail') {
                        //    alert(data.message);
                        //}
                    },
                    error: function(data) {
                        alert(data);
                    }
                });
            });
            $('#submit2').click(function() {
                $.ajax({
                    url: '@Url.Action("SelectOut")',
                    type: "Post",
                    data: $('#form2').serialize(),
                    success: function (data) {
                        console.log(data)
                    },
                    error: function(data) {
                        alert(data);
                    }
                });
            });

        });


    </script>

}
<form id="form1" class="form-horizontal" method="post">
    <input type="text" name="textEn" id="textEn" value="123" />
    <input type="button" value="加密" id="submit1" />
</form>

<form id="form2" class="form-horizontal" method="post">
    <input type="text" name="textDe" id="textDe" value="" />
    <input type="button" value="解密" id="submit2" />
</form>